@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd{padding:0; margin:0}
ul{list-style:none;}
img{border:none;}
body{font-size:12px; font-family:"\5B8B\4F53"; color:#333; background:#fff;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:none;}
.clear{clear:both;}
.fleft{float:left;}
.fright{float:right;}
.w1200{width:1000px; margin:0 auto;}
.mt10{margin-top:10px;}
.blue{color:#0059a5;}
.color_red{color:#F00;}
.jianju10{padding-left:10px;}
.jianju20{padding-left:20px;}
.mt7{margin-top:7px;}

/*header*/
.header{height:66px; width:100%; min-width:1200;background:#066dc5;}
.logo{margin-top:8px; margin-left:40px;}
.header_right{float:right; margin-top:25px; width:165px;}
.header_right ul li{float:left; display:inline;height:40px; overflow:hidden;}
.header_right ul li #home{background:url(../images/icon_head.png) no-repeat 0px 0px; width:19px; height:40px; background-attachment:scroll; background-color:transparent; display:inline-block;}
.header_right ul li #theme{background:url(../images/icon_head.png) no-repeat -35px 0px; width:24px; height:40px; background-attachment:scroll; background-color:transparent; display:inline-block; margin-left:6px;}
.header_right ul li #Setup{background:url(../images/icon_head.png) no-repeat -74px 0px; width:19px; height:40px; background-attachment:scroll; background-color:transparent; display:inline-block; margin-left:6px;}
.header_right ul li #refresh{background:url(../images/icon_head.png) no-repeat -111px 0px; width:29px; height:40px; background-attachment:scroll; background-color:transparent; display:inline-block; margin-left:7px;}
.header_right ul li #logout{background:url(../images/icon_head.png) no-repeat -148px 0px; width:17px; height:40px; background-attachment:scroll; background-color:transparent; display:inline-block;}

/*nav*/
.nav{ width:100%; min-width:1200; height:31px; background:#0059a5;}
.nav_wrap{padding-left:40px;}
.nav_wrap dt{float:left; display:inline; padding-left:8px; margin-top:5px; height:26px; line-height:26px; font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:15px; font-weight:bold; overflow:hidden; margin-left:10px; position:relative}
.tab_bg{background:#027be4; padding:0px 8px; display:block; float:left;}
.tab_bg a{color:#fff;}
.nav_wrap dl a{display:block; padding:0px 15px;}
.tab_bg2{background:#badefc; padding-right:15px;}

.search{background:url(../images/search_bg.png) no-repeat; width:184px; height:19px; margin-top:6px; margin-right:30px;}
.box{width:150px; height:14px; line-height:14px; font-size:12px; margin-left:5px; margin-top:2px; border:1px solid #fff; float:left;}
.search_btn{background:url(../images/search_btn.png) no-repeat; width:10px; height:13px; border:none; margin-top:3px; margin-left:5px; float:left; cursor:pointer;}

/*footer*/
#footer{ height:45px; background:#0059a5; width:100%; min-width:1200;}
.menu .people{height:50px; font-size:14px; margin-left:10px;}
.menu .people span{width:38px; height:38px; background:url(../images/people_bg.jpg) no-repeat; float:left; display:block; margin-right:5px;}
.menu .people span img{margin:4px 4px 5px 5px;}
.menu .people strong{line-height:50px; float:left;}
.category{margin-top:5px;}
.category li{width:151px; display:block; float:left; margin-left:4px;}
.category li:hover{background:url(../images/category_tab.jpg) no-repeat;}
.icon_a{background:url(../images/icon_a.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_b{background:url(../images/icon_b.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_c{background:url(../images/icon_c.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_d{background:url(../images/icon_d.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_e{background:url(../images/icon_e.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_f{background:url(../images/icon_f.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_g{background:url(../images/icon_g.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_h{background:url(../images/icon_h.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_i{background:url(../images/icon_i.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_j{background:url(../images/icon_j.png) no-repeat 5px 8px; display:block; padding-left:25px;}
.icon_k{background:url(../images/icon_k.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_l{background:url(../images/icon_l.png) no-repeat 5px 10px; display:block; padding-left:25px;}
.icon_m{background:url(../images/icon_m.png) no-repeat 5px 10px; display:block; padding-left:25px;}

.category_sidebar{background:url(../images/menu_bg.jpg) repeat-y; width:164px; float:right; height:538px;}
.sidebar_list{margin-top:50px; _margin-top:45px; height:440px; margin-left:5px; margin-bottom:5px;}
.sidebar_list li{line-height:21px; height:21px; margin-top:10px;
 _margin-top:8px;}
.sidebar_list li:hover{background:url(../images/sidebar_tab.png) no-repeat;}
.sidebar_list a{background:url(../images/icon_sanjiao.png) no-repeat 10px center; display:block; padding-left:18px;}
.logout{background:url(../images/logout.png) no-repeat 10px 6px; padding-left:26px;}
.quit{background:url(../images/quit.png) no-repeat 10px 7px; padding-left:30px; }
.out_quit{height:34px; line-height:34px;position:relative; float:right; bottom:-30px; width:164px;}
.out_quit a{float:left; font-size:13px; font-weight:bold; color:#0059a5;height:34px; line-height:34px; margin-left:10px;}

.footer_quickmenu{width:340px; height:32px; background:#004784; border:1px solid #0066bd; margin-top:5px; float:left; margin-left:450px; overflow:hidden; display:inline;}
.footer_quickmenu a{margin-left:35px; float:left; display:inline; margin-top:3px;}
.footer_right{float:right; width:220px;}
.number{color:#fff; font-size:14px; line-height:45px; float:left;}
.number strong{margin:0px 5px;}
.footer_right a{ display:inline; float:left;}
.tixing{margin-top:13px; margin-left:10px;}
.xiaoxi{margin-top:14px; margin-left:15px;}
.liaotian{margin-top:9px; margin-left:15px;}

/*内页*/
.line_g{line-height:36px;}
.hover_bg:hover{background:#f8f8f8; cursor:pointer;}
.tab_bg2 a{position:relative;}
.tab_bg2 span{position:absolute; top:9px; right:10px; cursor:pointer;}
.subnav{background:#badefc; height:66px; width:100%; min-width:1200; padding:10px 0px;}
.people{height:56px; width:150px; float:left; font-size:13px; line-height:30px; margin-top:5px; margin-left:30px;}
.people img{float:left; margin-right:10px;}
.subnav ul li{float:left; display:inline; text-align:center; margin-right:10px;}
.subnav ul li span{width:67px; height:32px; text-align:center;vertical-align:middle;display: table-cell;vertical-align:middle;}
.subnav span img, .subnav a img{max-width:67px;width:expression_r(this.width>67?"67px":this.width);vertical-align:middle;max-height:32px;height:expression_r(this.height>32?"32px":this.height);}
.subnav ul li a{width:67px; height:58px; padding-top:8px; float:left;}
.subnav ul li a:hover,.subtab{background:url(../images/subnav_bg.png) no-repeat;}
.subnav ul li p{line-height:30px;}